*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container .head{
    display: flex;
    justify-content: space-around;
    background: linear-gradient(#000000b6,#0000007b), url('https://cdn.pixabay.com/photo/2017/06/06/16/48/woman-2377742_640.jpg') no-repeat;
    height: 30rem;
    background-size: cover;
    color: white;
    position: relative;
}

.container .head .contact_info{
    display: flex;
    gap: 2rem;
    position: absolute;
    left: 2rem;
    top: 3rem;
}

.container .head .socail_media_icons{
    display: flex;
    gap: 1rem;
    position: absolute;
    right: 3rem;
    top: 3rem;
}

.container .head .socail_media_icons a{
    text-decoration: none;
    color: white;
}

.container .head .contant{
    position: absolute;
    top: 10rem;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

.container .head .contant .heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2rem;
}

.container .head .contant .heading h1 span{
    color: orangered;
}

.container .head .contant .start_btn{
    line-height: 5rem;
}

.container .head .contant .start_btn .btn{
    padding: .8rem;
    border-radius: .3rem;
    background: orangered;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
}

.container .main{
    position: relative;
}

.container .main .navbar nav{
    background-color: orangered;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

.container .main .navbar nav .container-fluid .mb-0{
    font-size: 3rem;
    font-weight: bold;
    position: absolute;
    left: 1rem;
    top: 0.5rem;
}

.container .main .navbar nav .menu_list .justify-content-end{
    display: flex;
    gap: 2rem;
    position: absolute;
    right: 3rem;
    top: 1.9rem;
}

.container .main .navbar nav .menu_list .justify-content-end .nav-item{
    list-style-type: none;
}

.container .main .navbar nav .menu_list .justify-content-end .nav-item .nav-link{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.container .main .welcome_content{
    height: 50rem;
    margin: 0rem 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 3rem;
    position: relative;
}

.container .main .welcome_content .para{
    text-align: center;
    padding: 2rem 0rem;
}

.container .main .welcome_content .shapes{
    display: flex;
    gap: 5rem;
}

.container .main .welcome_content .shapes .bis{
    position: relative;
}

.container .main .welcome_content .shapes .bis .icon .bi-hexagon{
    color: orangered;
    height: 150px;
    width: 150px;
}

.container .main .welcome_content .shapes .bis .icon .bi-1{
    color: orangered;
    position: absolute;
    right: 3.3rem;
    top: 3rem;
    height: 3rem;
    width: 3rem;
}

.container .main .welcome_content .shapes .bis .fa-regular{
    color: orangered;
    position: absolute;
    right: 3.3rem;
    top: 3.2rem;
    font-size: 3rem;
}

.container .main .welcome_content .shapes_content{
    display: flex;
    gap: 4.18rem;
    
}

.container .main .welcome_content .shapes_content .icon_content{
    width: 10rem;
    margin: 2rem 0rem;
    text-align: center;
    
}

.container .main .welcome_content .shapes_content .icon_content h1{
    font-size: .8rem;
    font-weight: bold;
    padding-bottom: 0.2rem;
    word-spacing: 1rem;
}

.container .main .works{
    background-color: rgb(222, 219, 219);
    /* height: 30rem; */
    padding: 5rem 10rem;
    text-align: center;
}

.container .main .works .heading h1{
    padding-bottom: 2rem;
}

.container .main .works .btns{
    padding-top: 2rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.container .main .works .btns .btn{
    padding: 0.5rem;
    color: gray;
    border: none;
    cursor: pointer;
}

.container .main .works .btns .btn-active{
    background-color: black;
    color: white;
}

.container .main .works .btn-photos{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.container .main .works .btn-photos .container .row{
    display: flex;
    gap: 1rem;   
}

.container .main .works .scrolls {
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding-top: 5rem;
}

.container .main .works .scrolls .scroll{
    border: 1px solid black;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
}

.container .main .skills{
    margin: 0rem 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .main .skills .heading h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0rem 1rem 0rem;
}

.container .main .skills .heading p{
    text-align: center;
    padding-bottom: 5rem;
}

.container .main .skills .skills-content .shapes{
    display: flex;
    gap: 5rem;
    justify-content: center;
    padding-bottom: 2rem;
}

.container .main .skills .skills-content .shapes .bis{
    position: relative;
}

.container .main .skills .skills-content .shapes .bis .icon .bi-hexagon{
    color: orangered;
    height: 150px;
    width: 150px;
}

.container .main .skills .skills-content .shapes .bis .icon .bi-1{
    color: gray;
    position: absolute;
    right: 2.5rem;
    top: 3rem;
    font-size: 3rem;
}

.container .main .skills .skills-content .content{
    display: flex;
    gap: 2rem;
}

.container .main .skills .skills-content .content .con{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 13rem;
}

.container .main .skills .skills-content .content .con h1{
    font-size: 1rem;
    padding-bottom: 0.5rem;
}

.container .main .skills .skills-content .content .con p{
    text-align: center;
    padding-bottom: 2rem;
}

.container .main .our_team{
    background-color: orangered;
    display: flex;
    flex-direction: column;
    padding: 3rem 10rem;
}

.container .main .our_team .heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .main .our_team .heading p{
    padding: 2rem 0rem;
    text-align: center;
}

.container .main .our_team .team_members{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container .main .our_team .container{
    display: flex;
    gap: 2rem;
}

.container .main .our_team .container .row{
    display: flex;
    gap: 2rem;
}

.container .main .our_team .container .col{
    display: flex;
    flex-direction: column;
}

.container .main .our_team .container .col img{
    height: 18rem;
    width: 25rem;
}

.container .main .blog{
    padding: 5rem 10rem;
    display: flex;
    flex-direction: column;
}

.container .main .blog .heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .main .blog p{
    padding: 3rem 0rem;
    text-align: center;
}

.container .main .blog .blog-post .container .row{
    display: flex;
    gap: 2rem;
}

.container .main .blog .blog-post .container .row .col img{
    height: 15rem;
    width: 23.5rem;
}

.container .main .blog .blog_content{
    display: flex;
    width: 75rem;
    gap: 3rem;
}

.container .main .blog .blog_content .Blog{
    /* border: 1px solid black; */
    text-align: start;
    margin-top: 2rem;
    
}

.container .main .blog .blog_content .Blog h1{
    font-size: 1.5rem;
}

.container .main .blog .blog_content .Blog p{
    text-align: start;
    padding: 0rem;
}

.container .main .getintouch{
    background-color: orangered;
    /* height: 10rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 2rem;
    color: white;
    padding: 1.5rem 0rem 3rem 0rem;
}

.container .main .getintouch #bg{
    width: 30rem;
    text-align: center;
    background-color: white;
    color: orangered;
    margin-top: 1rem;
}

.container .main .getintouch .butn .btn{
    padding: .5rem;
    margin-top: 2.5rem;
    cursor: pointer;
    border: 2px solid white;
    background-color: orangered;
    color: white;
}

.container .main .testimonials{
    padding: 7rem 18rem 5rem 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#000000ab,#000000ab),url('https://media.istockphoto.com/id/1164467533/photo/china-ningbo-cityscape.jpg?s=2048x2048&w=is&k=20&c=vQ9KXYJmt9Lm-InRtTAMv6u20EDNPTINFCfpv7iERYk=') no-repeat;
    background-size: cover;
    background-attachment: local;
    height: 40rem;
    color: white;
}

.container .main .testimonials .heading{
    padding-bottom: 3rem;
}

.container .main .testimonials .profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .main .testimonials .profile .bi{
    height: 10rem;
    width: 10rem;
    padding-bottom: 3rem;
}

.container .main .testimonials .profile .profile_name{
    padding-bottom: 1.5rem;
}

.container .main .testimonials .profile .profile_info{
    padding-bottom: 1.5rem;
}

.container .main .testimonials .date_content{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 3rem;
}

.container .main .testimonials .date_content .star .bi{
    height: 1.4rem;
    width: 1.4rem;
}

.container .main .testimonials .profile .profile_info p{
    text-align: center;
}

.container .main .contactus{
    background-color: rgb(222, 219, 219);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 10rem;
}

.container .main .contactus .heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .main .contactus .heading h1{
    padding-bottom: 1rem;
}

.container .main .contactus .heading p{
    padding-bottom: 2rem;
    text-align: center;
}

.container .main .contactus .contact_form form .container_form{
    display: flex;
    gap: 2rem;
    align-items: center;
    padding-bottom: 2rem;
}

.container .main .contactus .contact_form form .container_form .col-1{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container .main .contactus .contact_form form .container_form .col-1 .row input{
    height: 1.5rem;
    width: 19rem;
    padding: .5rem;
}

.container .main .contactus .contact_form form .container_form .col-2 textarea{
    padding: .5rem;
    width: 19rem;
}

.container .main .contactus .contact_form form .final_btn .btn{
    width: 40rem;
    padding: .3rem;
    background-color: orangered;
    color: white;
    border: none;
    cursor: pointer;
}

.container .main .social_media{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 10rem;
}

.container .main .social_media .social_icons{
    display: flex;
    padding-bottom: 2rem;
    gap: 1rem;
    
}

.container .main .social_media .social_icons .icons{
    position: relative;
}

.container .main .social_media .social_icons .icons .bi-hexagon-fill{
    height: 4rem;
    width: 4rem;
    color: gray;
}

.container .main .social_media .social_icons .icons .bis{
    position: absolute;
    height: 1.8rem;
    width: 1.8rem;
    right: 1.1rem;
    top: 1rem;
    color: black;
}

.container .main .social_media .social_icons .icons ._bi{
    height: 1.8rem;
    width: 1.8rem;
}

.container .main .social_media .address .add-1 p{
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    color: gray;
}

.container .main .social_media .address .add-1 #p2 span{
    color: orangered;
}

.container .main .footer{
    padding: 3rem 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: orangered;
    color: white;
}

.container .main .footer h1{
    padding-bottom: 1rem;
}

.container .main .footer p{
    font-size: 1.5rem;
}

.container .main .footer p span{
    font-weight: bold;
}